// Define variables for your color scheme

// For example:
$blue: #05254B;
$light-blue: #D8EEEB;
$gray: #BCBCBC;
$light-gray: #F8F3E0;
$green: #A0DBBC;
$red: #DE3C4B;
$yellow: #D2F898;
$orange: #F46036;




