// Specific CSS for your home-page
body {
  background: url("https://images.unsplash.com/photo-1559075479-e8da6f6fc3fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center center fixed;
  background-size: cover;
  // linear-gradient: rgba(0,0,0,0.4);
}

.container {
  background-size: cover;
  background-position: center;
    h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
}
