<%= link_to boat.title, boat_path(boat) %>
<%= cl_image_tag(boat.photo), class: 'some-class' %>


<img class="booking-card-img" src="<%= cl_image_tag(boat.photo, width: 150, height: 150, crop: :thumb, gravity: :face) %>">


<div class="card-category">
    <p class="booking-title" style="margin-top: 24px;"> All the <%= params[:tag] %> Boats as follows: </p>
  </div>
