.booking-title {
  color: black;
  text-align: center;
}

.booking-card-img {
  height: 120px;
  object-fit: fill;
  border-top-left-radius: calc(2px - 1px);
  border-radius: 6px;
}

.booking-card {
  height: 120px;
  object-fit: fill;
  border-top-left-radius: calc(2px - 1px);
  border-radius: 6px;
  color: black;
  text-align: center;
}
