.btn-gradient {
  color: white;
  padding: 12px 50px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#203764, #203764);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-create-account {
  color: white;
  padding: 12px 180px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#203764, #203764);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  text-align: center;
}

.link-btn-create-account {
  text-align: left;
  margin-top: 10px;
}

#upload_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
