// Landing page boat-cards (LIST ALL)
.boat-cards {
  position: absolute;
  width: 185px;
  height: 160px;
  left: 40px;
  top: 212px;
}


// show page main boat card - banner  (LIST ONE SPECIFIC)
.boat-card-banner {

}


