.coontainer {
  background-color: $light-gray;
}

.main-container {
  padding: 32px;
  h2 {
    margin-bottom: 24px;
  }
}

@media(max-width: 768px) {
  .main-container {
    padding: 0px;
  }
  .main-container h2 {
    font-size: 24px;
  }
}
