
// form background picture
.layout-form-page {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.layout-form-page > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

// Boat new form
.boat-form {
  position: relative;
  margin-top: 40%;
  background: white;
  padding: 16px 16px;
}
