.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item .nav-link {
  color: gray;
  padding: 0 8px 0 0;
  &:hover {
    text-decoration: underline;
  }
}

.nav li {
  font-size: 12px;
}
