<div class="booking-page">
  <div class="tag-card-category">
  </div>
  <div class="container justify-content-center">
    <h4 class="booking-subtitle">You are searching for: <%= params[:tag] %> tag</h4>

    <% @boats.each do |boat| %>
    <div class="d-flex justify-content-left py-4">
      <%= cl_image_tag(boat.photo, class: 'tag-boat-picture') %>
      <div class="boat-tag-pic">
        <div class="boat-tag-title">
          <p><%= link_to boat.title, boat_path(boat) %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



